.slideshow {
  transition: all 500ms var(--ease);
  p {
    font-weight: 300;
  }
  &__slide {
    display: none;
    &.active {
      display: block;
    }
  }
  &__company {
    max-width: 900px;
    margin-left: auto !important;
    margin-right: auto !important;
    img {
      max-width: 180px;

    }
  }
  &__inner {
    @media (--m) {
      padding-bottom: 20px;
    }
  }
  &__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
    background-color: var(--gray-medium);
    &.active {
      background-color: var(--orange);
    }
    @media (--m) {
      margin-bottom: 30px;
    }
  }
  @media (--m) {
    min-height: 220px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .product__image_controls {
    top: 40%;
    @media (--l) {
      top: 30%;
    }
    &_l {
      left: -50px;
      @media (--l) {
        left: -100px;
      }
    }
    &_r {
      right: -50px;
      @media (--l) {
        right: -100px;
      }
    }
  }
}

