<section class='' style='margin-top: 100px;' data-component='referral'>
  <iframe class='referral-candy' id="refcandy-candyjar" data-id="hzvgktwmzlxs3rfjm3aswxqno" data-height="700" data-width="100%" frameborder=0></iframe>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script>
</section>
