<div aria-hidden='true' aria-label='Nav Overlay' id='nav-overlay' class='nav-overlay fix fill bgb z9'>
  <div class='f aic jcc fill-v'>
    <ul class='fill-h ac'>
      <!-- {% for link in linklists['main-menu'].links %}
        <li class='mv1 pv05'>
          <a href='{{ link.url }}' class='h5 sans caps bold cw px05'>{{ link.title }}</a>
        </li>
      {% endfor %} -->
      <li class='mv05 pv05'>
        <a href='/pages/collections#backpacks' class='h5 sans caps cw px05 bold'><span>Backpacks</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/pages/collections#handbags' class='h5 sans caps cw px05 bold'><span>Handbags</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/pages/collections#duffles' class='h5 sans caps cw px05 bold'><span>Duffles</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/pages/collections#accessories' class='h5 sans caps cw px05 bold'><span>Accessories</span></a>
      </li>

      <li class='mv05 pv05'>
        <a href='/pages/collections' class='h5 sans caps cw px05 bold'><span>All Products</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/pages/our-journey' class='h5 sans caps cgl px05 bold'><span>Our Journey</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/blogs/passport' class='h5 sans caps cgl px05 bold'><span>Passport</span></a>
      </li>
      <li class='mv05 pv05'>
        <a href='/account/login/' class='h5 sans caps cgl px05 bold'><span>Login</span></a>
      </li>
    </ul>
  </div>
</div>
