<style>
  /**/ Add custom styles to override default promobar
  .promo__bar {

  }
</style>
<div class="promo__bar bgbl js-promo  z0">
  <div class='px1 ac container--xl mha rel z0'>
   <div style="text-align:center"><span style="font-size:18px;"><span style="color:#FFFFFF;">FREE EXPEDITED US SHIPPING WITH CODE <strong>EXPRESS</strong></span></span></span></div>

    <div class='close__bar pointer js-close-bar'><div class='icon__close'></div></div>
  </div>
</div>

<script type='text/javascript'>
  // Handle custom scriping around the promo bar, example timer
  let promoBar = document.querySelector('.js-promo');
</script>