@import 'lib/reset';
@import 'lib/breakpoints';
@import 'lib/var';
@import 'lib/colors';
@import 'lib/display';
@import 'lib/positioning';
@import 'lib/flexbox';
@import 'lib/align';
@import 'lib/spacing';
@import 'lib/buttons';
@import 'lib/forms';
@import 'lib/lists';
@import 'lib/typography';
@import 'lib/z-index';
@import 'lib/misc';
@import 'lib/visibility';
@import 'lib/containers';

@import 'components/icons';
@import 'components/accounts';
@import 'components/cart';
@import 'components/home';
@import 'components/header';
@import 'components/footer';
@import 'components/hero';
@import 'components/intro';
@import 'components/slideshow';
@import 'components/instagram';
@import 'components/one';
@import 'components/two';
@import 'components/three';
@import 'components/newsletter';
@import 'components/nav-overlay';
@import 'components/collection-hero';
@import 'components/tsa';
@import 'components/collection-feature';
@import 'components/loading';
@import 'components/product-page';
@import 'components/testimonials';
@import 'components/image-text';
@import 'components/supply-chain';
@import 'components/core-values';
@import 'components/product-detail';
@import 'components/cart-drawer';
@import 'components/stop-motion';
@import 'components/product-grid';
@import 'components/referral';
@import 'components/about-hero';
@import 'components/about-detail';
@import 'components/about-intro';
@import 'components/about-team';
@import 'components/blog-article';
@import 'components/article';
@import 'components/article-hero';
@import 'components/page-hero';
@import 'components/faq';
@import 'components/contact';
@import 'components/events';
@import 'components/page';
@import 'components/article-related';

@import 'components/cta';

@import 'customers/accounts';

@import 'vendor/operator';
@import 'vendor/spin-kit';

.shopify-preview-bar {
  display: none !important;
}

/**
 * After submission of the contact form
 */
.shopify-challenge__container {
  height: 100vh;
  padding: 200px 0;
}

.qp-logo svg {
  max-width: 84px;
}

#qp-container {
  display: block !important;
}