<section data-section-id='{{ section.id }}' data-section-type='about-intro-section'>
  <div class='about-intro outer'>
    <div class='container f ais jcb'>
      <div class='about-intro__text ac mha'>
        <h2 class='serif'>{{ section.settings.text }}</h2>

        <img src={{ section.settings.image_left | img_url: '800x' }} />
      </div>
      <div class='about-intro__right'>
        <img src={{ section.settings.image_right | img_url: '800x' }} />
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "About Intro",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image left"
      },
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image right"
      }
    ]
  }
{% endschema %}
