<footer class='footer rel z1 bgb'>
  <div class='outer'>
    <div class='container container--xl container--c'>
      <div class='footer__inner f jcc fw ais'>
        <a href='/' class='footer__logo fill-h ac'>
          {% include 'icon-logo' %}
          <p class='small cgl'>&copy; 2020 Wool and Oak.</p>
        </a>
        <div class='footer__m pt2 f jcb'>
          <div class='footer__m_c'>
            <ul class='f fw'>
              <li><a href='/pages/collections#backpacks' class=' caps bold'>Backpacks</a></li>
              <li><a href='/pages/collections#handbags' class=' caps bold'>Handbags</a></li>
              <li><a href='/pages/collections#duffles' class=' caps bold'>Duffles</a></li>
              <li><a href='/pages/collections#accessories' class=' caps bold'>Accessories</a></li>
              <li><a href='/pages/collections' class=' bold caps pv0 mv0'>All Products</span></a>
            </ul>
          </div>

          <div class='footer__m_c footer__l'>
            <ul class='f fw'>
              <li><a href='/pages/our-journey' class=' caps bold'>Our Journey</a></li>
              <li><a href='/blogs/passport' class=' caps bold'>Passport</a></li>
              <li><a href='/pages/faq' class=' caps bold'>FAQ</a></li>
              <li><a href='/pages/press' class=' caps bold'>Press</a></li>
              <li><a href='/pages/reviews' class=' caps bold'>Reviews</a></li>
              <li><a href='/pages/shop-instagram' class='caps bold'>Shop Instagram</a></li>
            </ul>

            <ul class='f fw'>
              <li><a href='/pages/return-policy' class=' caps bold'>Return Policy</a></li>
              <li><a href='/pages/shipping-policy' class=' caps bold'>Shipping Policy</a></li>
              <li><a href='/pages/privacy' class=' caps bold'>Privacy</a></li>
              <li><a href='/pages/terms' class=' caps bold'>Terms</a></li>
            </ul>
          </div>
        </div>

        {% include 'newsletter' %}

      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
    ]
  }
{% endschema %}
