{% if section.settings.theme == 'light' %}
  {% assign themeLight = true %}
{% else %}
  {% assign themeLight = false %}
{% endif %}

{% include 'theme-provider' with theme: section.settings.theme %}

<section data-section-id='{{ section.id }}' data-section-type='hero-section'>
  <div class='hero rel f aic jcc'>
    {% include 'image-fill' with image: section.settings.image, size: '2400x' %}

    <div class='container rel fill-h'>
      <div class='outer'>
        {% capture cx %}
          hero__content mha ac
          {% if themeLight %}cw{% endif %}
        {% endcapture %}

        <div class='{% include 'u-cx' with cx %}'>
          <div class='hero__banner small sans caps track f aic jcc book'>
            <span>{{ section.settings.banner }}</span>
            <hr class='fa' />
          </div>
          <h1 class='mv0 serif mv025'>taco</h1>

          {%
          include 'button' with
          href: section.settings.url,
          cta: section.settings.cta,
          className: 's5',
          small: true,
          outline: true,
          light: themeLight
          %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "radio",
        "id": "theme",
        "label": "Theme",
        "options": [
          { "value": "dark", "label": "Dark" },
          { "value": "light", "label": "Light" }
        ],
        "default": "dark"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Should be a compressed JPG, about 2200px wide"
      },
      {
        "type": "text",
        "id": "banner",
        "label": "Banner"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA"
      },
      {
        "type": "url",
        "id": "url",
        "label": "URL"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
